In [146]:
import pandas as pd
import numpy as np
import re

In [85]:
# read data
restaurants = pd.read_csv('../ods/michelin_my_maps.csv', index_col=0, dtype={'PhoneNumber': str})
restaurants.head()

,Name,Address,Location,Price,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,FacilitiesAndServices,Description
0,L'OSIER,"7-5-5 Ginza, Chuo-ku, Tokyo, 104-0061, Japan","Tokyo, Japan",¥¥¥¥,"French, Contemporary",139.761203,35.669667,+81335716050,https://guide.michelin.com/en/tokyo-region/tok...,https://losier.shiseido.co.jp/,3 Stars,"Air conditioning,Car park,Interesting wine list",In 2023 L’OSIER celebrated the 50th anniversar...
1,Azabu Kadowaki,"2-7-2 Azabujuban, Minato-ku, Tokyo, 106-0045, ...","Tokyo, Japan",¥¥¥¥,Japanese,139.733551,35.655993,+81357722553,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,"Air conditioning,Counter dining",Toshiya Kadowaki’s aim is to serve up “unforge...
2,Kohaku,"3-4 Kagurazaka, Shinjuku-ku, Tokyo, 162-0825, ...","Tokyo, Japan",¥¥¥¥,Japanese,139.741008,35.700701,+815031385225,https://guide.michelin.com/en/tokyo-region/tok...,http://kagurazaka-kohaku.jp/,3 Stars,"Air conditioning,Counter dining,Interesting wi...",Koji Koizumi creates a cuisine all his own as ...
3,Harutaka,"6F, 8-3-1 Ginza, Chuo-ku, Tokyo, 104-0061, Japan","Tokyo, Japan",¥¥¥¥,Sushi,139.759203,35.669269,+81335731144,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,"Air conditioning,Counter dining",Sometimes our connections intervene to change ...
4,Kanda,"1F, Toranomon Hills Residential Tower, 1-1-1 A...","Tokyo, Japan",¥¥¥¥,Japanese,139.748000,35.665800,+81364590176,https://guide.michelin.com/en/tokyo-region/tok...,http://www.nihonryori-kanda.com/,3 Stars,"Air conditioning,Counter dining,Interesting wi...",Hiroyuki Kanda understands the essence of Japa...

In [86]:
restaurants.dtypes

Name                      object
Address                   object
Location                  object
Price                     object
Cuisine                   object
Longitude                float64
Latitude                 float64
PhoneNumber               object
Url                       object
WebsiteUrl                object
Award                     object
FacilitiesAndServices     object
Description               object
dtype: object

In [87]:
restaurants.columns

Index(['Name', 'Address', 'Location', 'Price', 'Cuisine', 'Longitude',
       'Latitude', 'PhoneNumber', 'Url', 'WebsiteUrl', 'Award',
       'FacilitiesAndServices', 'Description'],
      dtype='object')

In [88]:
restaurants.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, 6792, 6793],
      dtype='int64', length=6794)

In [89]:
restaurants.shape

(6794, 13)

### Filtering by 'Award': 1 Start, 2 Starts, 3 Starts
knowing the data

In [90]:
restaurants.Award.value_counts()

Award
Bib Gourmand    3333
1 Star          2844
2 Stars          474
3 Stars          143
Name: count, dtype: int64

In [91]:
restaurants = restaurants[restaurants.Award.isin(['3 Stars', '2 Stars', '1 Star'])]
restaurants.shape

(3461, 13)

### Location and Country

In [92]:
s = pd.Series([" A str series   "])
s

0     A str series
dtype: object

In [93]:
s.str.strip().str.split()

0    [A, str, series]
dtype: object

In [94]:
s.str.strip().str.rsplit(' ', expand=True)

   0    1       2
0  A  str  series

In [95]:
restaurants.Location.str.split(',', expand=True)

                   0        1
0              Tokyo    Japan
1              Tokyo    Japan
2              Tokyo    Japan
3              Tokyo    Japan
4              Tokyo    Japan
...              ...      ...
3456       São Paulo   Brazil
3457       São Paulo   Brazil
3458       São Paulo   Brazil
3459       São Paulo   Brazil
3460  Rio de Janeiro   Brazil

[3461 rows x 2 columns]

In [96]:
restaurants[['Location2', 'Country']] = restaurants.Location.str.split(',', expand=True)

In [97]:
restaurants.head()

,Name,Address,Location,Price,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,FacilitiesAndServices,Description,Location2,Country
0,L'OSIER,"7-5-5 Ginza, Chuo-ku, Tokyo, 104-0061, Japan","Tokyo, Japan",¥¥¥¥,"French, Contemporary",139.761203,35.669667,+81335716050,https://guide.michelin.com/en/tokyo-region/tok...,https://losier.shiseido.co.jp/,3 Stars,"Air conditioning,Car park,Interesting wine list",In 2023 L’OSIER celebrated the 50th anniversar...,Tokyo,Japan
1,Azabu Kadowaki,"2-7-2 Azabujuban, Minato-ku, Tokyo, 106-0045, ...","Tokyo, Japan",¥¥¥¥,Japanese,139.733551,35.655993,+81357722553,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,"Air conditioning,Counter dining",Toshiya Kadowaki’s aim is to serve up “unforge...,Tokyo,Japan
2,Kohaku,"3-4 Kagurazaka, Shinjuku-ku, Tokyo, 162-0825, ...","Tokyo, Japan",¥¥¥¥,Japanese,139.741008,35.700701,+815031385225,https://guide.michelin.com/en/tokyo-region/tok...,http://kagurazaka-kohaku.jp/,3 Stars,"Air conditioning,Counter dining,Interesting wi...",Koji Koizumi creates a cuisine all his own as ...,Tokyo,Japan
3,Harutaka,"6F, 8-3-1 Ginza, Chuo-ku, Tokyo, 104-0061, Japan","Tokyo, Japan",¥¥¥¥,Sushi,139.759203,35.669269,+81335731144,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,"Air conditioning,Counter dining",Sometimes our connections intervene to change ...,Tokyo,Japan
4,Kanda,"1F, Toranomon Hills Residential Tower, 1-1-1 A...","Tokyo, Japan",¥¥¥¥,Japanese,139.748000,35.665800,+81364590176,https://guide.michelin.com/en/tokyo-region/tok...,http://www.nihonryori-kanda.com/,3 Stars,"Air conditioning,Counter dining,Interesting wi...",Hiroyuki Kanda understands the essence of Japa...,Tokyo,Japan

### Price

In [98]:
restaurants.Price.unique()

array(['¥¥¥¥', '€€€€', '$$$$', '¥¥¥', '$$$', '££££', '₩₩₩₩', '฿฿฿฿',
       '€€€', '¥¥', '₺₺₺₺', '$$', nan, '฿฿฿', '฿฿', '€€', '₺₺₺', '₺₺',
       '$', '₫₫', '₫₫₫₫', '£££', '££', '₩₩₩'], dtype=object)

In [99]:
#pattern = re.compile('[¥€£₩฿₺₫]')
#restaurants_df['Price'] = restaurants_df.Price.apply(lambda s: pd.Series(pattern.sub('$', str(s))))
restaurants['Price'] = restaurants.Price.str.replace('[¥€£₩฿₺₫]', '$', regex=True)

In [100]:
def set_category(price):
    if price == '$':
        return 'Muy Barato'
    elif price == '$$':
        return 'Accesible'
    elif price == '$$$':
        return 'Normal'
    elif price == '$$$$':
        return 'Costoso'
    elif price == '$$$$$':
        return 'Muy Costoso'
    else:
        return None

restaurants['PriceCategory'] = restaurants.Price.apply(set_category)

In [101]:
restaurants.sample(n=20)

,Name,Address,Location,Price,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,FacilitiesAndServices,Description,Location2,Country,PriceCategory
3077,Anne,"28 place des Vosges, Paris, 75003, France","Paris, France",$$$$,Modern Cuisine,2.365901,48.856177,+33140291919,https://guide.michelin.com/en/ile-de-france/pa...,https://www.pavillon-de-la-reine.com/restauran...,1 Star,"Air conditioning,Terrace,Valet parking,Wheelch...","The Pavillon de la Reine, a magnificent reside...",Paris,France,Costoso
767,Nishiazabu Taku,"2-11-5 Nishiazabu, Minato-ku, Tokyo, 106-0031,...","Tokyo, Japan",$$$,Sushi,139.722356,35.661308,+81357744372,https://guide.michelin.com/en/tokyo-region/tok...,https://nishiazabu-taku.com/,1 Star,"Air conditioning,Counter dining,Interesting wi...",Takuya Sato returned to Tokyo after experienci...,Tokyo,Japan,Normal
2988,L'Atelier de Joël Robuchon - St-Germain,"5 rue de Montalembert, Paris, 75007, France","Paris, France",$$$$,Modern Cuisine,2.327857,48.856810,+33142225656,https://guide.michelin.com/en/ile-de-france/pa...,http://www.atelier-robuchon-saint-germain.com,1 Star,"Air conditioning,Interesting wine list,Valet p...","Bathed in a studied semi-darkness, two bars fa...",Paris,France,Costoso
246,George Restaurant,"corso Vittorio Emanuele 135, Naples, 80121, Italy","Naples, Italy",$$$$,Contemporary,14.230069,40.837268,+390817612474,https://guide.michelin.com/en/campania/napoli/...,https://www.georgerestaurant.it/,2 Stars,"Air conditioning,Great view,Interesting wine l...",This roof-garden restaurant in one of Naples’ ...,Naples,Italy,Costoso
2544,Aniar,"53 Lower Dominick Street, Galway, H91 V4DP, Ir...","Galway, Ireland",$$$$,"Modern Cuisine, Irish",-9.056998,53.271245,+35391535947,https://guide.michelin.com/en/galway/galway/re...,https://www.aniarrestaurant.ie/,1 Star,Air conditioning,Both the décor and the cooking at this stylish...,Galway,Ireland,Costoso
1305,All'Enoteca,"via Roma 57, Canale, 12043, Italy","Canale, Italy",$$$$,"Piedmontese, Contemporary",7.993102,44.796921,+39017395857,https://guide.michelin.com/en/piemonte/canale/...,https://www.davidepalluda.it/,1 Star,"Air conditioning,Interesting wine list,Terrace",Standing at the beginning of the gracious Cors...,Canale,Italy,Costoso
1224,Marco Bottega Ristorante,"via Trovano 3, Genazzano, 00030, Italy","Genazzano, Italy",$$$,Creative,12.966885,41.810920,+39069578661,https://guide.michelin.com/en/lazio/genazzano/...,https://www.amintaresort.it/,1 Star,"Air conditioning,Car park,Garden or park,Inter...",Surrounded by hills planted with olive trees a...,Genazzano,Italy,Normal
3404,cenci,"44-7 Shogoin Entomicho, Sakyo-ku, Kyoto, 606-8...","Kyoto, Japan",$$$,Italian,135.780240,35.017056,+81757085307,https://guide.michelin.com/en/kyoto-region/kyo...,https://cenci-kyoto.com/,1 Star,"Air conditioning,Counter dining",Ken Sakamoto exults in expressing Italian cuis...,Kyoto,Japan,Normal
560,Jean Sulpice,"303 route du Port, Talloires-Montmin, 74290, F...","Talloires-Montmin, France",$$$$,Creative,6.210543,45.839331,+33450607201,https://guide.michelin.com/en/auvergne-rhone-a...,https://www.perebise.com/,2 Stars,"Air conditioning,Car park,Garden or park,Great...",The Auberge du Père Bise is more full of life ...,Talloires-Montmin,France,Costoso
1245,Laite,"borgata Hoffe 10, Sappada, 33012, Italy","Sappada, Italy",$$$,"Regional Cuisine, Traditional Cuisine",12.694816,46.568574,+390435469070,https://guide.michelin.com/en/veneto/sappada/r...,https://www.ristorantelaite.com/,1 Star,Interesting wine list,"“Plissn”, “Asou” and «Verpai” are the three ta...",Sappada,Italy,Normal
1613,La Pinte des Mossettes,"Route des Echelettes 8, Cerniat, 1654, Switzer...","Cerniat, Switzerland",$$$$,"Creative, Seasonal Cuisine",7.196424,46.653577,+41269272097,https://guide.michelin.com/en/fribourg-region/...,https://lapintedesmossettes.ch/,1 Star,"Car park,Great view,Interesting wine list,Terrace","Here, the mountains reign supreme: the vertigi...",Cerniat,Switzerland,Costoso
576,Casa de Chá da Boa Nova,"Avenida da Liberdade, Leça da Palmeira, 4450-7...","Leça da Palmeira, Portugal",$$$$,Seafood,-8.714723,41.202741,+351229940066,https://guide.michelin.com/en/porto-region/lea...,https://www.casadechadaboanova.pt/,2 Stars,"Air conditioning,Car park,Great view,Interesti...","Rarely is the concept of "" bringing the sea to...",Leça da Palmeira,Portugal,Costoso
574,The Yeatman,"Rua do Choupelo, Vila Nova de Gaia, 4400-088, ...","Vila Nova de Gaia, Portugal",$$$$,Creative,-8.613387,41.133685,+351220133100,https://guide.michelin.com/en/porto-region/vil...,http://www.theyeatman.com,2 Stars,"Air conditioning,Great view,Interesting wine l...",Everyone knows that the city of Oporto has a t...,Vila Nova de Gaia,Portugal,Costoso
3372,Uozuya,"8 Mibu Higashihinokicho, Nakagyo-ku, Kyoto, 60...","Kyoto, Japan",$$$,Japanese,135.735956,34.999842,+81753122538,https://guide.michelin.com/en/kyoto-region/kyo...,NaN,1 Star,"Air conditioning,Cash only,Counter dining,Shoe...",Over 40 years have passed since owner-chef Kaz...,Kyoto,Japan,Normal
1522,Sheng Yong Xing (Chaoyang),"5 Xindong Road, Chaoyang, Beijing, China Mainland","Beijing, China Mainland",$$$,Beijing Cuisine,116.443748,39.939223,+861064640968,https://guide.michelin.com/en/beijing-municipa...,NaN,1 Star,"Air conditioning,Car park,Interesting wine list",The sleek east-meets-west interior is light ye...,Beijing,China Mainland,Normal
2008,Hansik Goo,"1F, The Wellington, 198 Wellington Street, Hon...",Hong Kong,$$$$,Korean,114.152891,22.285021,+85227988768,https://guide.michelin.com/en/hong-kong-region...,http://www.hansikgoo.hk,1 Star,"Air conditioning,Interesting wine list,Wheelch...",‘Hansik’ means Korean food and ‘goo’ refers to...,Hong Kong,None,Costoso
2810,Ô Flaveurs,"Château de Chilly, Douvaine, 74140, France","Douvaine, France",$$$$,Modern Cuisine,6.313603,46.301073,+33450354655,https://guide.michelin.com/en/auvergne-rhone-a...,http://www.oflaveurs.com,1 Star,"Car park,Restaurant offering vegetarian menus,...",What a gorgeous place! With its exposed stonew...,Douvaine,France,Costoso
2952,La Dame de Pic,"20 rue du Louvre, Paris, 75001, France","Paris, France",$$$$,Creative,2.341207,48.861330,+33142604040,https://guide.michelin.com/en/ile-de-france/pa...,https://anne-sophie-pic.com/paris/,1 Star,"Air conditioning,Restaurant offering vegetaria...",A landmark on the map of great Parisian restau...,Paris,France,Costoso
2896,Comice,"31 avenue de Versailles, Paris, 75016, France","Paris, France",$$$$,Modern Cuisine,2.276139,48.849506,+33142155570,https://guide.michelin.com/en/ile-de-france/pa...,http://www.comice.paris,1 Star,Air conditioning,"A Canadian couple, Noam Gedalof from Montreal ...",Paris,France,Costoso
2512,Bastible,"111 South Circular Road, Dublin City, D08 RW2K...","Dublin City, Ireland",$$$,Modern Cuisine,-6.274910,53.332145,+35314737409,https://guide.michelin.com/en/dublin/dublin/re...,https://www.bastible.com/,1 Star,Restaurant offering vegetarian menus,This vibrant little restaurant with a lively s...,Dublin City,Ireland,Normal

### Cuisine

In [102]:
# cheking if there are '/' characters
restaurants[restaurants.Cuisine.str.contains('/')].shape

(5, 16)

In [103]:
#restaurants.Cuisine.apply(lambda s: pd.Series(len(s.strip().split(',')))).value_counts()
#restaurants[['Cuisine1', 'Cuisine2']] = restaurants_df.Cuisine.apply(lambda s: pd.Series(s.strip().split(',')))
restaurants[['Cuisine1', 'Cuisine2']] = restaurants.Cuisine.str.replace('/',',').str.split(',', expand=True)

In [104]:
restaurants.head()

,Name,Address,Location,Price,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,FacilitiesAndServices,Description,Location2,Country,PriceCategory,Cuisine1,Cuisine2
0,L'OSIER,"7-5-5 Ginza, Chuo-ku, Tokyo, 104-0061, Japan","Tokyo, Japan",$$$$,"French, Contemporary",139.761203,35.669667,+81335716050,https://guide.michelin.com/en/tokyo-region/tok...,https://losier.shiseido.co.jp/,3 Stars,"Air conditioning,Car park,Interesting wine list",In 2023 L’OSIER celebrated the 50th anniversar...,Tokyo,Japan,Costoso,French,Contemporary
1,Azabu Kadowaki,"2-7-2 Azabujuban, Minato-ku, Tokyo, 106-0045, ...","Tokyo, Japan",$$$$,Japanese,139.733551,35.655993,+81357722553,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,"Air conditioning,Counter dining",Toshiya Kadowaki’s aim is to serve up “unforge...,Tokyo,Japan,Costoso,Japanese,None
2,Kohaku,"3-4 Kagurazaka, Shinjuku-ku, Tokyo, 162-0825, ...","Tokyo, Japan",$$$$,Japanese,139.741008,35.700701,+815031385225,https://guide.michelin.com/en/tokyo-region/tok...,http://kagurazaka-kohaku.jp/,3 Stars,"Air conditioning,Counter dining,Interesting wi...",Koji Koizumi creates a cuisine all his own as ...,Tokyo,Japan,Costoso,Japanese,None
3,Harutaka,"6F, 8-3-1 Ginza, Chuo-ku, Tokyo, 104-0061, Japan","Tokyo, Japan",$$$$,Sushi,139.759203,35.669269,+81335731144,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,"Air conditioning,Counter dining",Sometimes our connections intervene to change ...,Tokyo,Japan,Costoso,Sushi,None
4,Kanda,"1F, Toranomon Hills Residential Tower, 1-1-1 A...","Tokyo, Japan",$$$$,Japanese,139.748000,35.665800,+81364590176,https://guide.michelin.com/en/tokyo-region/tok...,http://www.nihonryori-kanda.com/,3 Stars,"Air conditioning,Counter dining,Interesting wi...",Hiroyuki Kanda understands the essence of Japa...,Tokyo,Japan,Costoso,Japanese,None

## Working with "FacilitiesAndServices" to divide it into a maximun of five columns

In [105]:
restaurants.FacilitiesAndServices.str.contains('/').value_counts(dropna=False)

FacilitiesAndServices
False    3396
NaN        65
Name: count, dtype: int64

In [106]:
# finding the total of columns where apply the split method to FacilitiesAnsServices field.
restaurants.FacilitiesAndServices.apply(lambda s: pd.Series(len(str(s).strip().split(',')))).value_counts()

0
2    910
3    822
4    612
1    418
5    409
6    207
7     60
8     20
9      3
Name: count, dtype: int64

In [107]:
#restaurants.FacilitiesAndServices.apply(lambda s: pd.Series(len(str(s).strip().split(',')[0:5]))).value_counts()
#restaurants_123.FacilitiesAndServices.apply(
#         lambda s: pd.Series(str(s).strip().split(',')).iloc[:5]
#         )
restaurants.FacilitiesAndServices.str.split(',', expand=True).iloc[:,:5]

,0,1,2,3,4
0,Air conditioning,Car park,Interesting wine list,None,None
1,Air conditioning,Counter dining,None,None,None
2,Air conditioning,Counter dining,Interesting wine list,None,None
3,Air conditioning,Counter dining,None,None,None
4,Air conditioning,Counter dining,Interesting wine list,None,None
...,...,...,...,...,...
3456,Air conditioning,Valet parking,None,None,None
3457,Air conditioning,Counter dining,Notable sake list,Valet parking,None
3458,Air conditioning,Counter dining,None,None,None
3459,Air conditioning,Bring your own bottle,Interesting wine list,Valet parking,Wheelchair access
3460,Air conditioning,Counter dining,Interesting wine list,Valet parking,None

In [108]:
restaurants[
    ['FacilitiesAndServices1', 
     'FacilitiesAndServices2', 
     'FacilitiesAndServices3', 
     'FacilitiesAndServices4', 
     'FacilitiesAndServices5']] = restaurants.FacilitiesAndServices.str.split(',', expand=True).iloc[:,:5]

In [109]:
restaurants.shape

(3461, 23)

In [110]:
restaurants.isnull().sum(axis=0)

Name                         0
Address                      0
Location                     0
Price                        4
Cuisine                      0
Longitude                    0
Latitude                     0
PhoneNumber                 43
Url                          0
WebsiteUrl                 268
Award                        0
FacilitiesAndServices       65
Description                  0
Location2                    0
Country                    132
PriceCategory                4
Cuisine1                     0
Cuisine2                  2251
FacilitiesAndServices1      65
FacilitiesAndServices2     418
FacilitiesAndServices3    1328
FacilitiesAndServices4    2150
FacilitiesAndServices5    2762
dtype: int64

In [111]:
restaurants.columns

Index(['Name', 'Address', 'Location', 'Price', 'Cuisine', 'Longitude',
       'Latitude', 'PhoneNumber', 'Url', 'WebsiteUrl', 'Award',
       'FacilitiesAndServices', 'Description', 'Location2', 'Country',
       'PriceCategory', 'Cuisine1', 'Cuisine2', 'FacilitiesAndServices1',
       'FacilitiesAndServices2', 'FacilitiesAndServices3',
       'FacilitiesAndServices4', 'FacilitiesAndServices5'],
      dtype='object')

In [112]:
restaurants.drop(['Location', 'Price', 'Cuisine', 'FacilitiesAndServices'], axis=1, inplace=True)

In [113]:
restaurants.columns

Index(['Name', 'Address', 'Longitude', 'Latitude', 'PhoneNumber', 'Url',
       'WebsiteUrl', 'Award', 'Description', 'Location2', 'Country',
       'PriceCategory', 'Cuisine1', 'Cuisine2', 'FacilitiesAndServices1',
       'FacilitiesAndServices2', 'FacilitiesAndServices3',
       'FacilitiesAndServices4', 'FacilitiesAndServices5'],
      dtype='object')

In [114]:
cols = ['Name', 'Address', 'Longitude',
       'Latitude', 'PhoneNumber', 'Url', 'WebsiteUrl', 'Award', 'Description', 
       'Location', 'Country',
       'Price', 'Cuisine1', 'Cuisine2', 'FacilitiesAndServices1',
       'FacilitiesAndServices2', 'FacilitiesAndServices3',
       'FacilitiesAndServices4', 'FacilitiesAndServices5']

In [115]:
restaurants.columns = cols

In [116]:
restaurants.head()

,Name,Address,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,Description,Location,Country,Price,Cuisine1,Cuisine2,FacilitiesAndServices1,FacilitiesAndServices2,FacilitiesAndServices3,FacilitiesAndServices4,FacilitiesAndServices5
0,L'OSIER,"7-5-5 Ginza, Chuo-ku, Tokyo, 104-0061, Japan",139.761203,35.669667,+81335716050,https://guide.michelin.com/en/tokyo-region/tok...,https://losier.shiseido.co.jp/,3 Stars,In 2023 L’OSIER celebrated the 50th anniversar...,Tokyo,Japan,Costoso,French,Contemporary,Air conditioning,Car park,Interesting wine list,None,None
1,Azabu Kadowaki,"2-7-2 Azabujuban, Minato-ku, Tokyo, 106-0045, ...",139.733551,35.655993,+81357722553,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,Toshiya Kadowaki’s aim is to serve up “unforge...,Tokyo,Japan,Costoso,Japanese,None,Air conditioning,Counter dining,None,None,None
2,Kohaku,"3-4 Kagurazaka, Shinjuku-ku, Tokyo, 162-0825, ...",139.741008,35.700701,+815031385225,https://guide.michelin.com/en/tokyo-region/tok...,http://kagurazaka-kohaku.jp/,3 Stars,Koji Koizumi creates a cuisine all his own as ...,Tokyo,Japan,Costoso,Japanese,None,Air conditioning,Counter dining,Interesting wine list,None,None
3,Harutaka,"6F, 8-3-1 Ginza, Chuo-ku, Tokyo, 104-0061, Japan",139.759203,35.669269,+81335731144,https://guide.michelin.com/en/tokyo-region/tok...,NaN,3 Stars,Sometimes our connections intervene to change ...,Tokyo,Japan,Costoso,Sushi,None,Air conditioning,Counter dining,None,None,None
4,Kanda,"1F, Toranomon Hills Residential Tower, 1-1-1 A...",139.748000,35.665800,+81364590176,https://guide.michelin.com/en/tokyo-region/tok...,http://www.nihonryori-kanda.com/,3 Stars,Hiroyuki Kanda understands the essence of Japa...,Tokyo,Japan,Costoso,Japanese,None,Air conditioning,Counter dining,Interesting wine list,None,None

### Remove invalid telephone numbers

In [117]:
restaurants.PhoneNumber.str.len().value_counts(dropna=False)

PhoneNumber
12.0    2086
13.0     835
11.0     344
14.0     130
NaN       43
10.0      18
15.0       4
9.0        1
Name: count, dtype: int64

In [118]:
((restaurants.PhoneNumber.str.len() >= 10) & (restaurants.PhoneNumber.str.len() <= 13)).sum()

3283

In [119]:
restaurants = restaurants[(restaurants.PhoneNumber.str.len() >= 10) & (restaurants.PhoneNumber.str.len() <= 13)]

### Adding a field to restaurants with music in the description

In [139]:
restaurants.Description.str.contains('music').sum()

38

In [147]:
restaurants['music'] = np.where(restaurants.Description.str.contains('music'), 'Yes', 'No')

In [148]:
restaurants.music.value_counts()

music
No     3245
Yes      38
Name: count, dtype: int64

In [144]:
restaurants.to_csv('../data_cleaned/restaurants_cleaned.csv')

In [121]:
for id, row in df.iterrows():
    print(id, row.Name, row.Address)

0 L'OSIER 7-5-5 Ginza, Chuo-ku, Tokyo, 104-0061, Japan
1 Azabu Kadowaki 2-7-2 Azabujuban, Minato-ku, Tokyo, 106-0045, Japan
2 Kohaku 3-4 Kagurazaka, Shinjuku-ku, Tokyo, 162-0825, Japan
3 Harutaka 6F, 8-3-1 Ginza, Chuo-ku, Tokyo, 104-0061, Japan
4 Kanda 1F, Toranomon Hills Residential Tower, 1-1-1 Atago, Minato-ku, Tokyo, 105-0002, Japan
5 Makimura 3-11-5 Minamioi, Shinagawa-ku, Tokyo, 140-0013, Japan
6 Quintessence 1F, Garden City Shinagawa Gotenyama, 6-7-29 Kitashinagawa, Shinagawa-ku, Tokyo, 141-0001, Japan
7 RyuGin 7F, Tokyo Midtown Hibiya, 1-1-2 Yurakucho, Chiyoda-ku, Tokyo, 100-0006, Japan
8 L'Effervescence 2-26-4 Nishiazabu, Minato-ku, Tokyo, 106-0031, Japan
9 Joël Robuchon Yebisu Garden Place, 1-13-1 Mita, Meguro-ku, Tokyo, 153-0062, Japan